body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-color:#ffffff;
    }
.hidden{
    display: none;
}
.header{	
    max-width: 100%;
    height: 581px;
    background: url(../img/mainphoto.jpg) no-repeat  center bottom;}
.container{
    max-width: 1200px;
    justify-content: center;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
}
.nav-wrapper{
    width: 1200px;
    display: flex;
    padding-top: 10px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav{
    padding-left: 460px;
    display: flex;
    list-style-type: none;
    padding-left: 0%;
}
.nav li{
    padding-left: 83px;

}
.nav li a{
    text-decoration: none;
    font-size: 18px;
    font-family: 'Open Sans';
    color: #2E2F22;
}
.choose-topic{
    width: 1200px;
    padding-top: 85px; 
    padding-bottom: 49px;
    display:flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}
h1{
    font-family: "Spectral SC";
    font-size: 36px;
    font-weight: bold;
}
select{
    background-color: #D7D1C9;
    height: 46px;
    width: 203px;
    font-family: 'Open Sans';
    color: #2E2F22;
    font-size: 16px;
    margin-left: 20px;
    border: none;
}
.theme{
    background-color: #D7D1C9;
    width: 203px;
    height: 46px;
} 

.flex-conteiner1{  
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 60px;

}
.flex-conteiner{  
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}
.article{
    margin-right: 20px;
    display:flex;
    flex-direction: column;
    align-items: left;
}
.img{
    height:268px; 
    width:387px;
}

h2{
    font-family: "Spectral SC";
    font-size: 18px;
    font-weight: bold;
}
p{
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
}
.tegs{
    width: 387px;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: #575757;
}
.img2{
    margin:0px;
    width: 590px;
    height: 552px;
    position: relative;
}
.tegs2{
    max-width: 590px;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: #575757;
}

.img-cover{
    margin-top: -200px;
    padding-left: 82px;
    position: absolute;
    color: white;
}

button{
    display: inline-block;
    justify-items: center;
    text-align: center;
    padding: 12px 57px;
    margin-left: auto;
    margin-right: auto;;
    border-radius: 10px;
    background:#ffffff;
    border: 1px solid #3f3f3f;
    box-sizing: border-box;
	color: #202117;
	font-size: 16px;
    font-weight: 400;
    margin-top:114px;
    margin-bottom:85px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}
.about-me h1{
    text-align: center;
    margin: 0;
    margin-bottom: 49px;
}
.img-about-me{
    width: 600px;
    height: 693px;
}
.content{
    align-items: center;
    height: 693px;
    width: 560px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
.content p{
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}
.content h2{
    margin-top:98px;
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 100;
    font-size: 30px;
    line-height: 40px;

}
.portfolio{
    padding-top: 85px;
}
.portfolio h1{
    text-align: center;
}
.flex-conteiner3{  
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.html-academy{
    width: 387px;
    height: 525px;
    padding-right: 20px;
    display:flex;
    flex-direction: row;
    align-items: left;
}
.html-academy img {
	position: absolute;
    width: 387px;
    height: 525px;
}
.html-academy-content1{
    align-items: center;
    text-align: center;
    position: relative;
    color: #2E2F22;
    top	: 140px;
    left: 0;
	width: 100%;
}
.html-academy-content2{
    align-items: center;
    text-align: center;
    position: relative;
    color: #ffffff;
    margin-top: 140px;
    left: 0;
	width: 100%;
}
.html-academy-content1 h2{
    font-family: "Spectral SC";
    font-weight: 700;
    font-size: 20px;
    font-weight: 700px;
}

.html-academy-content1 h3{
    font-family: "Spectral SC";
    margin-top: 44px;
    line-height: 28px;
    font-size: 18px;
}
.html-academy-content1 p{
    margin-top: 17px;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.html-academy-content2 h2{
    font-family: "Spectral SC";
    font-weight: 700;
    font-size: 20px;
    font-weight: 700px;
}
.html-academy-content2 h3{
    font-family: "Spectral SC";
    margin-top: 44px;
    line-height: 28px;
    font-size: 18px;
}
.html-academy-content2 p{
    margin-top: 17px;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}
.flex-conteiner4{  
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.write-me{
    width: 996px;
    height: 741px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 81px;
}
.write-form{
    width: 996px;
    height: 637px;
    background: url("../img/bg-form.jpg") no-repeat;
}
.write-me h1{
    text-align: center;
    color: #2E2F22;
    margin-bottom: 49px;
}
.labels{
    padding-top: 53px;
    margin-left: auto;
    margin-right: auto;
    display:flex;
    flex-direction: row;
    justify-content: space-between; 
}

label{
    font-family: Spectral SC;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
}
.your-name{
    padding-left: 81px;
}
.email{
    padding-right: 430px;
}
.write-form-data{
    padding-top: 12px;
    width: 834px;
    margin-left: auto;
    margin-right: auto;
    display:flex;
    flex-direction: row;
    justify-content: space-between; 
}

input[type=text]{  
    border: 1px solid #000000;
    border-radius: 10px;
    width:407px;
    height: 63px;
    background-color: #ffffff;
    opacity: 40%;
    color: #202117;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    line-height: 22px;
}
input[type=email]{  
    border: 1px solid #000000;
    border-radius: 10px;
    width:407px;
    height: 63px;
    background-color: #ffffff;
    opacity: 40%;
    color: #202117;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    line-height: 22px;
}

.textarea{
    padding-top: 60px;
    display:flex;
    padding: 0;
    flex-direction: row;
    justify-content: space-between; 
    border: 1px solid #000000;
    margin-top: 60px;
    padding-top:20px;
    margin-left:80px;
    border-radius: 10px;
    width: 834px;
    height: 293px;
    background-color: #ffffff;
    opacity: 40%;
    border-radius: 10px;
    color: #202117;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    line-height: 22px;
}

.write-me ::placeholder {
    color: #2E2F22;
    padding-left: 20px;
}

.write-form button{
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    border-radius: 10px;
    border: 0.5px solid #000000;
    padding-top: 12px;
    background: none;
	color: #202117;
	font-size: 16px;
    font-weight: 400;
    margin-left:0px;
    margin-top:20px;
    margin-bottom:auto;
}


footer{
   background-color: #D7D1C9; 
   font-family: "Open Sans";
   font-size: 16px;
   font-weight: 400px;
   line-height: 26px;
   width: 100%;
   height: 181px;
   display: flex;
   justify-content: center;
   align-items: center;
}
.links{
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding-left: 0%;
    margin-right: auto;
    margin-left: auto;
}
.links li{
    padding-right: 120px;
}
.links li:last-child{
    padding-right: 0px;
}
.links li a{
    text-decoration: none;
    font-size: 18px;
    font-family: 'Open Sans';
    color: #2E2F22;
}

.warning {
    color: #ff6666;
}